outil_developpeur.php

systeme/dice/cache_systeme/*
systeme/dice/cache_worker/*
systeme/dice/tables/monframework/cache/*

.settings/*
.buildpath
.project

systeme/dice/tables/monframework/mf_connexion.sessions/*

data/*
